[Unit]
Description=Global proxy
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/global-proxy init
ExecStop=/bin/bash /usr/local/bin/global-proxy fini
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
